.row {
  margin: 0;
}
.roof {
  height: 36px;
  line-height: 36px;
  background-color: #484848;
}
.roof .yi {
  font-size: 16px;
  overflow: hidden;
}
.roof .yi div {
  float: left;
  margin-right: 55px;
}
.roof .yi .b_white {
  color: white;
  margin-right: 20px;
}
.roof .yi .b_red {
  color: #EC450A;
}
.roof .yi .b_blue {
  color: #10B672;
}
.home {
  height: 84px;
  line-height: 84px;
  background-color: white;
}
.home .uu {
  overflow: hidden;
  cursor: pointer;
}
.home .uu img {
  display: inline-block;
  margin-right: 40px;
}
.home .uu ul {
  display: inline-block;
  list-style: none;
  padding-left: 50px;
}
.home .uu ul li {
  color: #666666;
  display: inline-block;
  padding: 0px 20px;
  line-height: 37px;
  text-align: center;
  font-size: 18px;
}
.home .uu ul .l_yuan {
  color: white;
  background-color: #0087ff;
  border-radius: 25px;
}
.home .uu .f_om {
  float: right;
}
.home .uu .f_om input {
  width: 80px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #cccccc;
  cursor: pointer;
  background-color: white;
}
.home .uu .f_om .f_bue {
  margin-left: 10px;
  background-color: #0087ff;
  color: white;
}
.j_yi .f_tab {
  margin-bottom: 50px;
}
.j_yi .f_tab span {
  display: inline-block;
  height: 30px;
  margin-top: 38px;
  margin-right: 110px;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.j_yi .f_tab span:hover {
  color: #0581C9;
  border-bottom: 2px solid #0581C9;
}
.j_yi .f_tab .f_search {
  float: right;
  position: relative;
  margin-top: 30px;
}
.j_yi .f_tab .f_search .f_inpt {
  width: 160px;
  height: 36px;
  border: 1px solid #03A6E9;
  padding-right: 42px;
}
.j_yi .f_tab .f_search img {
  position: absolute;
  width: 25px;
  right: 10px;
  top: 5px;
}
.j_yi .th_form {
  border-collapse: collapse;
}
.j_yi .th_h th {
  font-size: 15px;
  color: #525252;
  padding-bottom: 10px;
}
.j_yi .th_h th:nth-child(3) {
  text-align: center;
}
.j_yi .th_h th:nth-child(4) {
  text-align: center;
}
.j_yi .th_d {
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  color: #999999;
}
.j_yi .th_d td {
  border-top: 1px solid #EFF3F6;
  text-align: left;
}
.j_yi .th_d td .two_six,
.j_yi .th_d td .two_see,
.j_yi .th_d td .two_nine,
.j_yi .th_d td .two_bsix,
.j_yi .th_d td .two_bsee,
.j_yi .th_d td .two_bnine {
  font-size: 16px;
  color: #333333;
}
.j_yi .th_d td .two_gray,
.j_yi .th_d td .two_ess,
.j_yi .th_d td .two_bgray,
.j_yi .th_d td .two_bess {
  color: #999999;
}
.j_yi .th_d td .two_seven {
  color: #FF2828;
  font-size: 16px;
}
.j_yi .th_d td .two_sn {
  font-size: 16px;
  color: #68D8AD;
}
.j_yi .th_d .th_two .two_pn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 2px;
  background: url("../img/jt-top.png") no-repeat;
}
.j_yi .th_d .th_two .two_ln {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 2px;
  background: url("../img/jt-down.png") no-repeat;
}
.j_yi .th_d .th_two .two_wu {
  font-size: 16px;
  color: #FF2828;
}
.j_yi .th_d .th_two .two_three,
.j_yi .th_d .th_two .two_bthree {
  margin-left: 5px;
  color: #999999;
}
.j_yi .th_d td:nth-child(3) {
  text-align: center;
}
.j_yi .th_d td:nth-child(4) {
  text-align: center;
}
.j_yi .th_d .th_ig {
  width: 30px;
  height: 30px;
}
.j_yi .th_d .th_but {
  padding: 0 7px;
  line-height: 38px;
  color: white;
  background-color: #009DF8;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 20px;
}
.notice {
  width: 100%;
  height: 781px;
  background: url("../img/index-newsbg.jpg") no-repeat;
}
.notice .official_left h3,
.notice .official_rig h3 {
  width: 97px;
  padding-bottom: 5px;
  border-bottom: 5px solid #00A5E9;
  margin-bottom: 30px;
}
.notice .official_left .left_lt,
.notice .official_rig .left_lt {
  overflow: hidden;
  margin-bottom: 20px;
}
.notice .official_left .left_lt .left_z,
.notice .official_rig .left_lt .left_z {
  float: left;
  margin-right: 10px;
}
.notice .official_left .left_lt .left_z .twelve,
.notice .official_rig .left_lt .left_z .twelve {
  background-color: #E1E1E1;
}
.notice .official_left .left_lt .left_z p,
.notice .official_rig .left_lt .left_z p {
  width: 52px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #F1F1F1;
  margin-bottom: 0;
  text-align: center;
  line-height: 40px;
}
.notice .official_left .left_lt .left_z .twelve_no,
.notice .official_rig .left_lt .left_z .twelve_no {
  color: white;
  background: #00a5e9;
  border-bottom: none;
}
.notice .official_left .left_lt .left_z .twelve_two,
.notice .official_rig .left_lt .left_z .twelve_two {
  font-size: 18px;
  color: #00a5e9;
  background-color: white;
}
.notice .official_left .left_lt .left_z .twelve_three,
.notice .official_rig .left_lt .left_z .twelve_three {
  background-color: #F1F1F1;
  border-bottom: none;
}
.notice .official_left .left_lt .left_z .twelve_forl,
.notice .official_rig .left_lt .left_z .twelve_forl {
  font-size: 18px;
  background-color: white;
}
.notice .official_left .left_lt .a_bos:hover,
.notice .official_rig .left_lt .a_bos:hover {
  color: #00a5e9;
}
.A_down {
  padding-top: 78px;
  height: 598px;
}
.A_down .A_li {
  position: relative;
  left: 0;
  opacity: 0;
  transition: all 1s;
}
.A_down .A_li .A_pp {
  font-size: 36px;
  color: #333333;
}
.A_down .A_li .A_uu {
  list-style: none;
}
.A_down .A_li .A_uu .A_yuan {
  margin-top: 48px;
  margin-bottom: 38px;
}
.A_down .A_li .A_uu .A_bue {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #0580C7;
  border-radius: 50%;
  margin-right: 16px;
}
.A_down .A_li .A_uu .A_mone {
  font-size: 22px;
  color: #808080;
}
.A_down .A_li .iphon {
  display: -webkit-inline-box;
  border: 2px solid #0580C7;
  border-radius: 25px;
  padding: 10px 27px;
  margin-top: 54px;
  color: #0580C7;
}
.A_down .A_li .iphon .i_ren {
  line-height: 39px;
  margin-right: 20px;
}
.A_down .A_li .iphon .i_pn {
  font-weight: 800;
}
.A_down .i_lw {
  opacity: 0;
  height: 100%;
  position: relative;
  padding-left: 50px;
  transition: all 1s;
  right: 0;
}
.b_ottom {
  margin-top: 60px;
  height: 190px;
  background-color: #ECECEC;
  padding-top: 78px;
}
.b_ottom .b_intro {
  font-size: 18px;
}
.b_ottom .b_intro a {
  color: #666666;
}
.b_ottom .b_top {
  margin-top: 20px;
}
.b_ottom .b_ig {
  margin: 15px 0 0 55px;
}
.bo_om {
  height: 50px;
  line-height: 50px;
  background-color: #3d3d3d;
}
.bo_om .bo_di {
  font-size: 16px;
  color: #ffffff;
}
.suspend {
  width: 90px;
  border-radius: 5px;
  background-color: #009DF8;
  position: fixed;
  right: 0;
  top: 20%;
}
.suspend .suspend_uu {
  list-style: none;
}
.suspend .suspend_uu .suspend_liaotian {
  margin: 10px auto;
  padding-top: 30px;
  color: white;
  width: 84px;
  height: 130px;
  font-size: 30px;
  text-align: center;
  background: url("../img/3cbtc-logo (2).png") no-repeat 30px 0;
}
.suspend .suspend_uu .suspend_liaotian .ltshi {
  margin: 0;
}
.suspend .suspend_uu .suspend_ino {
  margin: 10px auto;
  width: 84px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: url("../img/index_kf.png") no-repeat 10px 3px;
  background-color: #FFFFFF;
  padding-left: 45px;
  color: #009DF8;
}
.suspend .suspend_uu .suspend_itwo {
  margin: 10px auto;
  width: 84px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: url("../img/index_phone.png") no-repeat 10px 3px;
  background-color: #FFFFFF;
  padding-left: 45px;
  color: #009DF8;
}
.suspend .suspend_uu .suspend_ithree {
  margin: 10px auto;
  width: 84px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: url("../img/index_wechat.png") no-repeat 10px 3px;
  background-color: #FFFFFF;
  padding-left: 45px;
  color: #009DF8;
}
.ltkuang {
  overflow: hidden;
  height: 600px;
  width: 340px;
  border: 1px solid #EBEBEB;
  box-shadow: 0px 6px 8px  0 #DDDDDD;
  position: absolute;
  border-radius: 5px;
  right: 100px;
  top: 50px;
  background-color: #FCFCFC;
  display: none;
}
.ltkuang .ltkuang_top {
  height: 60px;
  background: url("../img/3cbtc-logo (1).png") no-repeat 20px 15px;
  background-color: #008FF2;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  padding: 16px 20px 0 58px;
}
.ltkuang .ltkuang_top .ltkuang_spn {
  float: right;
}
.ltkuang .ltkuang_center {
  height: 448px;
}
.ltkuang .ltkuang_button {
  height: 90px;
  width: 100%;
  position: relative;
  border-top: 1px solid #D5D5D5;
}
.ltkuang .ltkuang_button .ltkuang_ipt {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: #999999;
  border: none;
  outline: none;
}
.ltkuang .ltkuang_button .btn_fasong {
  position: absolute;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 0;
  float: right;
  box-sizing: border-box;
  right: 0;
  top: 50px;
  font-size: 16px;
  background-color: #00A5E9;
  color: #FFFFFF;
}
.m_mesa {
  height: 88px;
  line-height: 88px;
  background-color: #00a5e9;
}
.m_mesa .m_pxi {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
.bj_lu {
  height: 100%;
  background: url(../img/registered-bg.jpg) no-repeat;
}
.bj_lu .bj_den {
  height: 1026px;
}
.bj_lu .bj_den .bj_dl {
  width: 540px;
  height: 430px;
  margin: 20px auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 30px;
  text-align: center;
  margin-top: 220px;
}
.bj_lu .bj_den .bj_dl .bj_img {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bj_lu .bj_den .bj_dl .bj_sanc {
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.bj_lu .bj_den .bj_dl .bj_fom {
  text-align: center;
  position: relative;
}
.bj_lu .bj_den .bj_dl .bj_fom .bj_i {
  position: absolute;
  left: 90px;
  top: 13px;
}
.bj_lu .bj_den .bj_dl .bj_fom .bj_i:nth-child(2) {
  top: 85px;
}
.bj_lu .bj_den .bj_dl .bj_fom input {
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
  padding-left: 55px;
  background-color: #e3e3e3;
  border: none;
}
.bj_lu .bj_den .bj_dl .bj_sele {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  color: #999999;
}
.bj_lu .bj_den .bj_dl .bj_sele .bj_a {
  float: right;
  color: #999999;
}
.bj_lu .bj_den .bj_dl .bj_button {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  color: #ffffff;
  background-color: #4cb1ff;
  border: none;
}
.bj_lu .bj_den .bj_dl .bj_user {
  font-size: 18px;
  color: #666666;
  margin-top: 22px;
}
.bj_lu .bj_den .bj_dl .bj_sba {
  font-size: 18px;
  color: #999999;
}
.bj_lu .bj_den .find_dl {
  width: 540px;
  height: 580px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  padding-top: 30px;
  text-align: center;
  margin-top: 86px;
}
.bj_lu .bj_den .find_dl .find_img {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bj_lu .bj_den .find_dl .find_sanc {
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.bj_lu .bj_den .find_dl .find_fom {
  text-align: center;
  position: relative;
}
.bj_lu .bj_den .find_dl .find_fom .find_i {
  position: absolute;
  left: 90px;
  top: 13px;
}
.bj_lu .bj_den .find_dl .find_fom .find_i:nth-child(2) {
  top: 95px;
}
.bj_lu .bj_den .find_dl .find_fom .find_i:nth-child(3) {
  top: 174px;
}
.bj_lu .bj_den .find_dl .find_fom input {
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #333333;
  padding-left: 55px;
  background-color: #f4f4f4;
  border: none;
}
.bj_lu .bj_den .find_dl .find_sele {
  position: relative;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  color: #999999;
}
.bj_lu .bj_den .find_dl .find_sele .find_i {
  position: absolute;
  top: 12px;
  left: 20px;
}
.bj_lu .bj_den .find_dl .find_sele .find_let {
  float: left;
  width: 210px;
  height: 40px;
  font-size: 18px;
  padding-left: 55px;
  border: none;
  background-color: #f4f4f4;
}
.bj_lu .bj_den .find_dl .find_sele .find_rig {
  width: 155px;
  height: 40px;
  float: right;
  background-color: #4cb1ff;
  border: none;
  color: #ffffff;
}
.bj_lu .bj_den .find_dl .find_button {
  width: 400px;
  height: 50px;
  margin: 50px auto 0 auto;
  font-size: 20px;
  color: #ffffff;
  background-color: #4cb1ff;
  border: none;
}
.bj_lu .bj_den .mail_dl {
  width: 540px;
  height: 580px;
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  padding-top: 30px;
  text-align: center;
  margin-top: 220px;
}
.bj_lu .bj_den .mail_dl .mail_img {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bj_lu .bj_den .mail_dl .mail_sanc {
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.bj_lu .bj_den .mail_dl .mail_fom {
  text-align: center;
  position: relative;
}
.bj_lu .bj_den .mail_dl .mail_fom .mail_i {
  position: absolute;
  left: 90px;
  top: 13px;
}
.bj_lu .bj_den .mail_dl .mail_fom .mail_i:nth-child(2) {
  top: 95px;
}
.bj_lu .bj_den .mail_dl .mail_fom .mail_i:nth-child(3) {
  top: 174px;
}
.bj_lu .bj_den .mail_dl .mail_fom input {
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #333333;
  padding-left: 55px;
  background-color: #e3e3e3;
  border: none;
}
.bj_lu .bj_den .mail_dl .mail_sele {
  position: relative;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  color: #999999;
}
.bj_lu .bj_den .mail_dl .mail_sele .mail_i {
  position: absolute;
  top: 12px;
  left: 20px;
}
.bj_lu .bj_den .mail_dl .mail_sele .mail_let {
  float: left;
  width: 210px;
  height: 40px;
  font-size: 18px;
  padding-left: 55px;
  border: none;
  background-color: #f4f4f4;
}
.bj_lu .bj_den .mail_dl .mail_sele .mail_rig {
  width: 155px;
  height: 40px;
  float: right;
  background-color: #4cb1ff;
  border: none;
  color: #ffffff;
}
.bj_lu .bj_den .mail_dl .mail_ydu {
  font-size: 14px;
  color: #999999;
  float: left;
  margin: 15px 0 15px 70px;
}
.bj_lu .bj_den .mail_dl .mail_button {
  width: 400px;
  height: 50px;
  margin: 0 auto 0 auto;
  font-size: 20px;
  color: #ffffff;
  background-color: #4cb1ff;
  border: none;
}
.bj_lu .bj_den .mail_dl .mail_existing {
  margin-top: 18px;
  font-size: 18px;
  color: #666666;
}
.notice-title {
  color: #fff;
}
.notice-content {
  position: relative;
  width: 100%;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin-left: 55px;
}
.notice-text {
  color: red;
  font-size: 14px;
  position: absolute;
}
.boss,
.rtt {
  width: 330px;
  height: 40px;
  margin: 30px 0;
  position: relative;
}
.boss .bb,
.rtt .bb {
  width: 100%;
  height: 5px;
  background-color: #DDDDDD;
  position: absolute;
  top: 20%;
  transform: translateY(-2px);
}
.boss .cc,
.rtt .cc {
  width: 0;
  height: 5px;
  background-color: #FF695A;
  position: absolute;
  top: 20%;
  transform: translateY(-2px);
  transition: all 1s;
}
.boss .ff,
.rtt .ff {
  width: 0;
  height: 5px;
  background-color: #0ebb74;
  position: absolute;
  top: 20%;
  transform: translateY(-2px);
  transition: all 1s;
}
.boss .uu_no li,
.rtt .uu_no li,
.boss .uu_lo li,
.rtt .uu_lo li {
  list-style: none;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20%;
  transform: translateY(-5px);
  z-index: 9;
}
.boss .uu_no .ll_no,
.rtt .uu_no .ll_no,
.boss .uu_lo .ll_no,
.rtt .uu_lo .ll_no,
.boss .uu_no .radiu_no,
.rtt .uu_no .radiu_no,
.boss .uu_lo .radiu_no,
.rtt .uu_lo .radiu_no {
  width: 10px;
  height: 10px;
  left: 0;
  border-radius: 50%;
  background-color: #FF695A;
}
.boss .uu_no .radiu_no,
.rtt .uu_no .radiu_no,
.boss .uu_lo .radiu_no,
.rtt .uu_lo .radiu_no {
  background-color: #0EBB74;
}
.boss .uu_no .ll_two,
.rtt .uu_no .ll_two,
.boss .uu_lo .ll_two,
.rtt .uu_lo .ll_two,
.boss .uu_no .radiu_two,
.rtt .uu_no .radiu_two,
.boss .uu_lo .radiu_two,
.rtt .uu_lo .radiu_two {
  left: 25%;
  border-radius: 50%;
  background-color: #666666;
}
.boss .uu_no .ll_three,
.rtt .uu_no .ll_three,
.boss .uu_lo .ll_three,
.rtt .uu_lo .ll_three,
.boss .uu_no .radiu_three,
.rtt .uu_no .radiu_three,
.boss .uu_lo .radiu_three,
.rtt .uu_lo .radiu_three {
  left: 50%;
  border-radius: 50%;
  background-color: #666666;
}
.boss .uu_no .ll_five,
.rtt .uu_no .ll_five,
.boss .uu_lo .ll_five,
.rtt .uu_lo .ll_five,
.boss .uu_no .radiu_five,
.rtt .uu_no .radiu_five,
.boss .uu_lo .radiu_five,
.rtt .uu_lo .radiu_five {
  left: 75%;
  border-radius: 50%;
  background-color: #666666;
}
.boss .uu_no .ll_sxi,
.rtt .uu_no .ll_sxi,
.boss .uu_lo .ll_sxi,
.rtt .uu_lo .ll_sxi,
.boss .uu_no .radiu_sxi,
.rtt .uu_no .radiu_sxi,
.boss .uu_lo .radiu_sxi,
.rtt .uu_lo .radiu_sxi {
  right: 0;
  border-radius: 50%;
  background-color: #666666;
}
.boss .uu_no .teal,
.rtt .uu_no .teal,
.boss .uu_lo .teal,
.rtt .uu_lo .teal {
  background-color: #FF695A;
}
.boss .uu_no .tppa,
.rtt .uu_no .tppa,
.boss .uu_lo .tppa,
.rtt .uu_lo .tppa {
  background-color: #0EBB74;
}
.boss span,
.rtt span {
  position: absolute;
  color: #DDDDDD;
  top: 20px;
}
.boss span:nth-last-child(1),
.rtt span:nth-last-child(1) {
  left: 0;
}
.boss span:nth-last-child(2),
.rtt span:nth-last-child(2) {
  left: 20%;
}
.boss span:nth-last-child(3),
.rtt span:nth-last-child(3) {
  left: 45%;
}
.boss span:nth-last-child(4),
.rtt span:nth-last-child(4) {
  left: 70%;
}
.boss span:nth-last-child(5),
.rtt span:nth-last-child(5) {
  right: 0;
}
